@model IEnumerable<Sonic.Domain.Entities.System>

@{
    ViewData["Title"] = "Systems";
}

<h4>@ViewData["Title"]</h4>
<hr />
<div>
    <a asp-action="Edit" class="btn btn-default btn-sm">Create</a>
</div>
<table class="table">
    <thead>
    <tr>
        <th>id</th>
        <th>name</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.SystemId</td>
            <td>@item.Name</td>
            <td>
                <a asp-action="Index" asp-controller="Role" asp-route-id="@item.SystemId" asp class="btn btn-default btn-sm">Roles</a>
                <a asp-action="Edit" asp-route-id="@item.SystemId" asp class="btn btn-default btn-sm">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.SystemId" asp class="btn btn-default btn-sm">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>